spring:
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:userdb
    driver-class-name: org.h2.Driver
    username: ${DB_USERNAME:sa}
    password: ${DB_PASSWORD:sa}
    platform: h2
  jpa:
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true